.coracao{
    margin: 300px auto;
    background-color: red;
    height: 200px;
    transform: rotate(-45deg);
    width: 200px;
    position: relative;
}

.coracao:before, .coracao:after{
    content: '';
    background-color: red;
    border-radius: 50%;
    height: 200px;
    position: absolute;
    width: 200px;
}

.coracao:before{
    top: -100px;
}

.coracao:after{
    left: 100px;
}